/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.quiz-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #555;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #586f87;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #779c54;
}

button:active {
  background-color: #003f7f;
}

button[style*="green"] {
  background-color: #28a745;
}

button[style*="red"] {
  background-color: #dc3545;
}

div.feedback {
  margin: 15px 0;
  font-size: 1rem;
  font-weight: bold;
}

button + button {
  margin-top: 15px;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
